# Core
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart

# Database
asyncpg
redis

# Auth
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

# MQTT (for commands)
paho-mqtt

# Utilities
python-dotenv
aiohttp
httpx
loguru
boto3
